@tailwind components;

@layer components {
  .scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #4834ff;
    border-radius: 2px;
  }

  .scroll::-webkit-scrollbar-track {
    background: #fff;
    width: 1px;
  }
}
